{% extends 'base.html' %}
{% load static %}

{% block title %}Article{% endblock  %}

{% block content %}
    <div class="container">
        <h1>article list</h1>
        {% comment %} <img src="{% static 'images/profile.jpg' %}"> {% endcomment %}
        {% for article in articles %}
            <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{ article.title }}</a></h2>
            <p>{{ article.snippet }}</p>
            <p>{{ article.date }}</p>
        {% endfor %}
    </div>
{% endblock %}